* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  overflow-x: hidden;
}

.main-width {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #b38f47;
}

header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 40px 0;
}

.logo img{
  display: block;
max-width: 150px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: .4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus {
  border-bottom: 2px solid #fff;
}

nav ul li a.active {
  border-bottom: 2px solid #fff;
}

nav ul li.btn a {
  background: transparent;
  border: 1px solid #f5dca8;
  padding: 9px 20px;
  border-radius: 30px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 500;
  margin-left: 150px;
}

nav ul li.btn a:hover {
  border: 1px solid #fff;
  color: #000;
  background: #fff;
  transition: .4s;
}

.content {
  padding-top: 85px;
  margin-left: 80px;
}

.content .main-text {
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}

.content .main-text h6 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
}

.content .main-text h1 {
  font-size: 100px;
  line-height: 1;
  color: #000;
  margin: 0 0 30px;
  font-family: 'Satisfy', cursive;
}

.content .main-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.content .main-text p {
  max-width: 100%;
  width: 480px;
  color: #fff;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.8;
}

.content .main-text a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 9px 25px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
}

.content .main-text a:hover {
  transform: scale(1.2);
  background: transparent;
  border: 1px solid #f5dca8;
  color: #fff;
  transition: .4s;
}
.content .main-text a.cta{
  border: 1px solid #f5dca8;
  color: #fff;
  background: transparent;
  margin-left: 20px;
}
.content .main-text a.cta i{
  margin-right: 12px;
}
.content .main-text a.cta:hover{
  background: #fff;
  border: 1px solid #fff;
  color: black;
  transform: .4s;
}
.content .social{
  position: relative;
  z-index: 2;
  margin-top: 10px;
  font-size: 24px;
}
.content .social a{
  display: inline-block;
  color: #fff;
  margin-right: 25px;
  font-size: 24px;
}
.content .social a:hover{
  transform: scale(1.2);
  transition: .5s;
  color: #000;
}
.image{
  position: absolute;
  width: 100%; height: 85%;
  bottom: 0;
  right: 0;
text-align: right;
}
.image img{
  height: 99%;
}